<% provide(:title, 'About') %>
<% provide(:meta_description, 'Strategic Resource Group provides strategic solutions to companies in the retail space.') %>
<% provide(:meta_keywords, 'About, Strategic Resource Group') %>

<div class="detail-page">
	<div class="section-title">
		<span>About Strategic Resource Group</span>
	</div>
	<div class="wrapper">
		<div class="detail-text-container no-border" id="about-section">
			<div class="detail-text">
				<p>SRG is a leading US retail and consumer goods consulting firm with three decades of experience working with top US and global retail chains, wholesalers, suppliers and investment firms at the executive level.</p>

				<p>Our in-depth expertise has been used by leading firms to support mergers and acquisitions, as well as for M&amp;A approval from the Federal Trade Commission (FTC), who has relied on our expertise to provide insight into competitive practices across the retailing, distribution, and consumer brands industries.</p>

				<p>In addition, SRG works directly with the top national retail chains consumer packaged goods suppliers. SRG helps these retailers and manufacturers understand the changes occurring across the industry to identify new opportunities to increase sales and consumption.</p>

				<p>Over the last three decades, SRG has developed the most comprehensive database of future locations and remodels of Mass Volume Retailers in the industry. Combined with our proprietary competitive compression models, our deep experience and industry insights allow us to perform our due diligence on retail and wholesale businesses with a far greater understanding of the risks associated with MVR competitive activity on top-line sales and bottom-line profits, with visibility out to five years.</p>

				<p>SRG is affiliated with several academic institutions&mdash;including Cornell and St. Joseph's universities. Because of our past projects and broad experience, SRG offers unparalleled expertise in all aspects of retail operations and strategy. Widely known throughout the industry, our research is often referenced in nationally known publications and Trade journals, such as the Wall Street Journal, The Financial Times, Barron's, Fortune Magazine, Time Magazine, Newsweek, The LA Times, Progressive Grocer, Supermarket News, and many others.</p>	
			</div>
		</div>
		<div class="section-title" id="praise">
			<span>Praise for Managing Director Burt Flickinger</span>
		</div>
		<div class="detail-text-container no-border">
			<div class="detail-text">
				<div class="quote-container">
					<div class="quote-icon">
					</div>
					<div class="quote-text">
						<p style="font-size: 1.5em;">Just about the most widely respected retail consultant out there. I've talked to many, and there's no one better for me...than this guy.</p>
					</div>
					<div class="quote-author">
						<span>- Neil Cavuto, Fox Business Network</span>
					</div>
				</div>
				<div class="quote-container">
					<div class="quote-icon">
					</div>
					<div class="quote-text">
						<p style="font-size: 1.5em;">Burt Flickinger is the best there is in retailing</p>
					</div>
					<div class="quote-author">
						<span>- Liz Claymon, Fox Business Network</span>
					</div>
				</div>
				<div class="quote-container">
					<div class="quote-icon">
					</div>
					<div class="quote-text">
						<p style="font-size: 1.5em;">Burt Flickinger is the 'Nostradamus of Retail'</p>
					</div>
					<div class="quote-author">
						<span>- Editor of <em>Chain Store Age</em></span>
					</div>
				</div>
				<div class="quote-container">
					<div class="quote-icon">
					</div>
					<div class="quote-text">
						<p style="font-size: 1.5em;">Burt is a leading expert on all aspects of the retail industry</p>
					</div>
					<div class="quote-author">
						<span>- Dierdre Bolton, Bloomberg</span>
					</div>
				</div>
				<div class="quote-container">
					<div class="quote-icon">
					</div>
					<div class="quote-text">
						<p style="font-size: 1.5em;">You can call Burt about anything retail-related and he will know something about it</p>
					</div>
					<div class="quote-author">
						<span>- Jenna Lee, Bloomberg</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
