<% provide(:title, 'Bios') %>

<div class="detail-page">
	<div class="wrapper">
		<div class="main-content-container">
			<aside>
				<div class="side-nav-container bios">
					<ul class="side-nav bios-side-nav">
						<li><a href="#">Burt Flickinger</a></li>
						<li><a href="#">Richard Rehn</a></li>
						<li><a href="#">Martin Roberts</a></li>
						<li><a href="#">Molly Ford</a></li>
						<li><a href="#">Sturgess Spanos</a></li>
						<li><a href="#">Henry Mellet</a></li>
						<li><a href="#">Paul Bauer</a></li>
						<li><a href="#">Nick Donald</a></li>
						<li><a href="#">Leif Ericksen</a></li>
						<li><a href="#">Juliana Rogers</a></li>
					</ul>
				</div>
			</aside>
			<div class="detail-content pull-right bio-container">
				<div class="section-title left-align">
					<span>Select SRG Bios</span>
				</div>
				<div class="section-detail-text">
					<div class="bio burtflickinger">
						<div class="bio-title">
							<span>Burt Flickinger<span>
						</div>
						<div class="bio-content">
							<p>Strategic Resource Group professionals collectively have over 100 years worth of experience in operational and strategic planning, industry trends, and market analysis.</p>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="bio richardrehn">
						<div class="bio-title">
							<span>Richard Rehn<span>
						</div>
						<div class="bio-content">
							<p>Strategic Resource Group professionals collectively have over 100 years worth of experience in operational and strategic planning, industry trends, and market analysis.</p>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="bio martinroberts">
						<div class="bio-title">
							<span>Martin Roberts<span>
						</div>
						<div class="bio-content">
							<p>Strategic Resource Group professionals collectively have over 100 years worth of experience in operational and strategic planning, industry trends, and market analysis.</p>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="bio mollyford">
						<div class="bio-title">
							<span>Molly Ford<span>
						</div>
						<div class="bio-content">
							<p>Strategic Resource Group professionals collectively have over 100 years worth of experience in operational and strategic planning, industry trends, and market analysis.</p>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="bio sturgessspanos">
						<div class="bio-title">
							<span>Sturgess Spanos<span>
						</div>
						<div class="bio-content">
							<p>Strategic Resource Group professionals collectively have over 100 years worth of experience in operational and strategic planning, industry trends, and market analysis.</p>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="bio henrymellet">
						<div class="bio-title">
							<span>Henry Mellet<span>
						</div>
						<div class="bio-content">
							<p>Strategic Resource Group professionals collectively have over 100 years worth of experience in operational and strategic planning, industry trends, and market analysis.</p>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="bio paulbauer">
						<div class="bio-title">
							<span>Paul Bauer<span>
						</div>
						<div class="bio-content">
							<p>Strategic Resource Group professionals collectively have over 100 years worth of experience in operational and strategic planning, industry trends, and market analysis.</p>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="bio nickdonald">
						<div class="bio-title">
							<span>Nick Donald<span>
						</div>
						<div class="bio-content">
							<p>Strategic Resource Group professionals collectively have over 100 years worth of experience in operational and strategic planning, industry trends, and market analysis.</p>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="bio leifericksen">
						<div class="bio-title">
							<span>Leif Ericksen<span>
						</div>
						<div class="bio-content">
							<p>Strategic Resource Group professionals collectively have over 100 years worth of experience in operational and strategic planning, industry trends, and market analysis.</p>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
					<div class="bio julianarogers">
						<div class="bio-title">
							<span>Juliana Rogers<span>
						</div>
						<div class="bio-content">
							<p>Strategic Resource Group professionals collectively have over 100 years worth of experience in operational and strategic planning, industry trends, and market analysis.</p>
							<p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
