<% provide(:title, 'Consumer Brands Consulting') %>
<% provide(:meta_description, 'Strategic Resource Group provides food manufacturer consultation to big box, specialty, wholesale and independent grocers and food industry corporations across the United States.') %>
<% provide(:meta_keywords, 'Food Manufacturer Consultation, consumer brands consultation') %>

<div class="detail-page">
	<div class="wrapper">
		<div class="main-content-container">
			<aside>
				<div class="side-nav-container">
					<ul class="side-nav">
						<li><a href="/consulting/retailers">Retailers</a></li>
						<li><a href="/consulting/wholesalers">Wholesalers</a></li>
						<li class="selected-side-nav"><a href="/consulting/brands">Consumer Brands</a></li>
					</ul>
				</div>
			</aside>
			<div class="detail-content pull-right">
				<div class="section-title left-align">
					<span>Consulting for Consumer Brands</span>
				</div>
				<div class="section-detail-text">
					<p>Sound brand management strategies, buttressed by effective marketing tactics, are highly effective tools in creating the value or premium proposition.</p>
					<p>Strategic Resource Group’s professionals are highly experienced in the development of product campaign strategies and assisting in the tactical implementation to maximize the ROIC of limited marketing and advertising budgets.</p>
					<ul>
						<li><span>Brand strategy from start to finish</span></li>
						<li><span>New brands creation</span></li>
						<li><span>Market opportunities analysis</span></li>
						<li><span>Consumer segmentation analysis</span></li>
						<li><span>Market positioning</span></li>
						<li><span>Advertising strategy</span></li>
						<li><span>Packaging, Positioning, and Special Packs</span></li>
						<li><span>Pricing and promotion strategy</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
