<% provide(:title, 'Retailer Consulting') %>

<div class="detail-page">
	<div class="wrapper">
		<div class="main-content-container">
			<aside>
				<div class="side-nav-container">
					<ul class="side-nav">
						<li class="selected-side-nav"><a href="/consulting/retailers">Retailers</a></li>
						<li><a href="/consulting/wholesalers">Wholesalers</a></li>
						<li><a href="/consulting/brands">Consumer Brands</a></li>
					</ul>
				</div>
			</aside>
			<div class="detail-content">
				<div class="section-title left-align">
					<span>Consulting for Retailers</span>
				</div>
				<div class="section-detail-text">
					<p>Strategic Resource Group’s professionals offer a unique combination of industry expertise and experience in the following retail businesses:</p>
					<ul>
						<li><span>Mass Volume Retailers</span></li>
						<li><span>Deep Discount Retailers</span></li>
						<li><span>Home Center Retailers</span></li>
						<li><span>Office &amp; Computer Products</span></li>
						<li><span>Specialty Stores</span></li>
						<li><span>Convenience Store &amp; Misc. Food</span></li>
						<li><span>Drug Retailers &amp; Wholesalers</span></li>
					</ul>
					<p>Our extensive network of contacts Fortune 500 retailers, wholesalers, and manufacturers, coupled with decades of sector experience, allow us the ability to offer unparalleled insight and analysis of a company’s performance, strategic alternatives, and valuation to our clients.</p>
					<p>Strategic Resource Group professionals collectively have over 100 years worth of experience in operational and strategic planning, industry trends, and market analysis.</p>
				</div>
			</div>
		</div>
	</div>
</div>

