<% provide(:title, 'Consulting') %>

<div class="consulting-detail-page">
	<div class="section-title">
		<span>Consulting Expertise</span>
	</div>
	<div class="wrapper">

			<div class="areas-select-box">
				<a href="/consulting/supermarkets">
					<div class="areas-select-link supermarkets">
						<div class="detail-caption">
	                        <div class="detail-caption-title"><span>Supermarkets</span></div>
	                        <div class="detail-caption-description"><p>Learn how SRG can help transform your retail business through seasoned, diverse retail expertise.</p></div>
	                    </div>
					</div>
				</a>
				<a href="/consulting/wholesalers">
					<div class="areas-select-link wholesalers">
						<div class="detail-caption">
	                        <div class="detail-caption-title"><span>Wholesalers</span></div>
	                        <div class="detail-caption-description"><p>Learn how SRG can help transform your retail business through seasoned, diverse retail expertise.</p></div>
	                    </div>
					</div>
				</a>
				<a href="/consulting/manufacturers">
					<div class="areas-select-link manufacturers">
						<div class="detail-caption">
	                        <div class="detail-caption-title"><span>Manufacturers</span></div>
	                        <div class="detail-caption-description"><p>Learn how SRG can help transform your retail business through seasoned, diverse retail expertise.</p></div>
	                    </div>
					</div>
				</a>
			</div>

	</div>
	<div class="detail-text-container">
		<div class="detail-text">
				<p>It is no secret that the retail, supply chain, and wholesale businesses are undergoing a dramatic change.  Mass merchandisers and alternative formats are competing effectively across retail channels to capture traditional retail and wholesale sales, and continue to aggressively expand retail square footage in every state in evolving retailing formats.  To compete, suppliers and chains will need to improve purchasing power, leverage costs, and continue to grow sales.</p>
				<p>Our insight into the issues, trends, and forces shaping the retail and consumer landscapes are used by industry-leading retail, consumer, and financial companies.</p>
				<p>For a more detailed look into how SRG works with specific industries click on one of the links on the left</p>
		</div>
	</div>
</div>
