<% provide(:title, 'Mergers and Acquisitons') %>
<% provide(:meta_description, 'Strategic Resource Group provides detailed assistance and crucial industry insight for Mergers and Acquisitions transactions on either side.') %>
<% provide(:meta_keywords, 'Retail Mergers and Acquisitions') %>

<div class="detail-page">
	<div class="section-title">
		<span>Financial Services Expertise</span>
	</div>
	<div class="wrapper">

			<div class="areas-select-box">
				<a href="/financialservices/ma">
					<div class="areas-select-link ma-photo">
						<div class="detail-caption">
	                        <div class="detail-caption-title" style="font-size: 0.9em;">
	                        	<span>Mergers &amp; Acquisitions</span>
	                        </div>
	                    </div>
					</div>
				</a>
				<a href="/financialservices/ftc">
					<div class="areas-select-link ftc">
						<div class="detail-caption">
	                        <div class="detail-caption-title">
	                        	<span>FTC Expertise</span>
	                        </div>
	                    </div>
					</div>
				</a>
				<a href="/financialservices/duedilligence">
					<div class="areas-select-link dilligence">
						<div class="detail-caption">
	                        <div class="detail-caption-title">
	                        	<span>Due Dilligence</span>
	                        </div>
	                    </div>
					</div>
				</a>
			</div>

	</div>
	<div class="detail-text-container">
		<div class="detail-text">
			<p>Strategic Resource Group offers clients a range of services in areas that include advisory, management, financial, and human capital consulting.</p>
			<p>We work with leading financial firms to provide tailored diligence solutions, necessary to making sound financial and strategic decisions.</p>
		</div>
	</div>
</div>
