<% provide(:title, 'Mergers & Acquisitions') %>
<% provide(:meta_description, 'Strategic Resource Group provides detailed assistance and crucial industry insight for Mergers and Acquisitions transactions on either side.') %>
<% provide(:meta_keywords, 'Retail Mergers and Acquisitions') %>

<div class="detail-page">
	<div class="wrapper">
		<div class="main-content-container">
			<aside>
				<div class="side-nav-container">
					<ul class="side-nav">
						<li><a href="/financialservices/duedilligence">Due Dilligence</a></li>
						<li class="selected-side-nav"><a href="/financialservices/ma">Mergers &amp; Acquisitions</a></li>
					</ul>
				</div>
			</aside>
			<div class="detail-content pull-right">
				<div class="section-title left-align">
					<span>Mergers &amp; Acquisitions</span>
				</div>
				<div class="section-detail-text">
					<p>Many business leaders stumble through the integration phase of Mergers and Acquisitions and often experience the same pitfalls that fail to extract anticipated synergies. Research has shown that 70% of deals fail to produce meaningful value for their investment and 50% of these actually destroy the company&rsquo;s value.</p>
					<p>Given these unfavorable odds, it might seem counter-intuitive to pursue M&amp;A activities to achieve growth. In many cases however, companies that have management teams capable of successfully integrating an acquisition, in general, generate superior long term returns compared with companies that rely only on organic growth.</p>
					<p>Strategic Resource Group has the deep experience to provide purchasers of strategic assets with the detailed diligence necessary to identifying both the potential risks or hidden value that accompanies any given target. We have worked on major M&amp;A transactions, and have been involved in the entire M&amp;A life cycle, from targeting through the full integration process. It is from this experience that we have developed a disciplined set of processes and procedures that are vital to achieving M&amp;A success. We treat these processes in a systematic manner, pursuing a deal only when the expected returns exceed the anticipated cost of capital.</p>
				</div>
			</div>
		</div>
	</div>
</div>
