<% provide(:title, 'Retail Consultants') %>

    <div class="page">
        <div id="slideshow-container">
        <div id="slideshow">
            <!--<div class="inner-container">-->
            <div id="image-container">
                <div class="image one showing" id="image1">
                    <div class="caption">
                        <div class="caption-title"><span>Retail Consulting</span></div>
                        <div class="caption-description"><p><a href='#'>Learn how SRG can help transform your retail business through seasoned, diverse retail expertise.</a></p></div>
                    </div>
                </div>
                <div class="image two" id="image2">
                    <div class="caption">
                        <div class="caption-title"><span>Industry Insights</span></div>
                        <div class="caption-description"><p><a href='#'>SRG's current analysis and data archives uncover new indusrty trends.</a></p></div>
                    </div>
                </div>
                <div class="image three" id="image3">
                    <div class="caption">
                        <div class="caption-title"><span>Retail Litigation</span></div>
                        <div class="caption-description"><p><a href='#'>With a successful track record in retail litigation cases, SRG can help your business assemble materials to win your case.</a></p></div>
                    </div>
                </div>
                <div class="image four" id="image4">
                    <div class="caption">
                        <div class="caption-title"><span>Digital Marketing</span></div>
                        <div class="caption-description"><p><a href='#'>Expand your brand, with help from SRG, using the lastest in web design and social media marketing.</a></p></div>
                    </div>
                </div>
            </div>
            <div class="photo-title">
                <div class="container">
                    <span>Retail Consulting</span>
                </div>
            </div>
            <!--</div>-->
        </div>
        </div>
        <div id="slideshow-buttons-container">
                <div class="slideshow-buttons selected one"></div>
                <div class="slideshow-buttons two"></div>
                <div class="slideshow-buttons three"></div>
                <div class="slideshow-buttons four"></div>
        </div>
        <div class="h1">
            <div class="inner-container">
                <h1>SRG has 3 decades of experience in retail and consumer goods</h1>
                <div class="arrow">
                    
                </div>
            </div>
        </div>
        <div id="content">
            <div class="explain-box">
                <div class="explainer consulting">
                    <div class="container">
                        <div class=mini-title>
                            <span>Retail Consulting</span>
                        </div>
                        <div class="mini-content">
                            <p>We work directly with the top national retail chains consumer packaged goods suppliers. SRG helps these retailers and manufacturers understand the changes occurring across the industry to identify new opportunities to increase sales and consumption.</p>
                        </div>
                    </div>
                </div>
                <div class="explainer litigation">
                    <div class="container">
                        <div class=mini-title>
                            <span>Retail Litigation</span>
                        </div>
                        
                    </div>
                </div>
                <div class="explainer MA">
                    <div class="container">
                        <div class=mini-title>
                            <span>Mergers & Acquisitions</span>
                        </div>
                        <div class="mini-content">
                            <p>Our in-depth expertise has been used by leading firms to support mergers and acquisitions, as well as for M&A approval from the Federal Trade Commission (FTC), who has relied on our expertise to provide insight into competitive practices across the retailing, distribution, and consumer brands industries.</p>
                        </div>
                    </div>
                </div>
                <div class="explainer marketing">
                    <div class="container">
                        <div class=mini-title>
                            <span>Digital Marketing</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bigarrow">
                <div class="arrow-text">
                    <span>Check out the latest from Managing Director Burt Flickinger</span>
                </div>
                <div class="small-arrow">
                    
                </div>
            </div>
        </div>
        <div id="video-news">
            <div class="section-title white">
                <span>Video News</span>
            </div>
            <div id="video-container">
                <div class="video">
                    <div class="video-pic">
                        
                    </div>
                    <div class="video-title">
                        <span>Burt Flickinger on Retail Sales</span>
                    </div>
                    <div class="video-description">
                        <span>Jan 16 (CCTV) -- Burt Flickinger, Managing Director of Strategic Resource Group, explains why retailers much better than expected and how the new payroll tax hike will impact the spending.</span>
                    </div>
                    
                </div>
                <div id="middle-video" class="video">
                    <div class="video-pic">
                        
                    </div>
                    <div class="video-title">
                        <span>Early Signs of Strong Holiday Sales for Retailers?</span>
                    </div>
                    <div class="video-description">
                        <span>Nov 27 (Fox Business) -- Retail analysts Faith Hope Consolo and Burt Flickinger on the outlook for retail sales during the holiday season and through 2013.</span>
                    </div>
                </div>
                <div class="video">
                    <div class="video-pic">
                        
                    </div>
                    <div class="video-title">
                        <span>Wal-Mart's Early &quot;Black Friday&quot;</span>
                    </div>
                    <div class="video-description">
                        <span>Nov 8 (CNBC) -- Burt Flickinger, Strategic Resource Group, discusses the ripple effects of Wal-Mart's early &quot;Black Friday.&quot;</span>
                    </div>
                </div>  
            </div>
        </div>
        <div id="news">
            <div class="inner-container">
            <div class="news pull-left">
                <div class="section-title white">
                    <span>SRG News</span>
                </div>
                <div class="article">
                    <div class="article-pic">
                    </div>
                    <div class="article-content">
                        <div class="article-title">
                            <span>Burt Flickinger Presents at the 2013 IGA Global Rally</span>
                        </div>
                    </div>
                    <div class="article-preview">
                            <span>Burt Flickinger presents his insights to the 2013 IGA global rally, the annual meeting attended by IGA retailers from around the world.</span>
                    </div>
                </div>
            </div>
            <div class="news pull-right">
                <div class="section-title white">
                    <span>Retail Industry News</span>
                </div>
                <div class="article">
                    <div class="article-pic">
                        <img src="<%= @first_article.photo.url %>" width=250>
                    </div>
                    <div class="article-content">
                        <div class="article-title">
                            <a href="articles/<%= @first_article.id %>"><span><%= @first_article.title %></span>
                        </div>
                    </div>
                    <div class="article-preview">
                        <span><%= @first_article.short_description %></span>
                    </div>
                </div>
            </div>
            </div>
        </div>
        
        <div class="section-title publication-section">
                <span>These publications regularly feature Burt and SRG</span>
        </div>
        <div id="publications">
            
            <div id="publication-logos">
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
                <div class="publication-logo"></div>
            </div>
        </div>
    </div>