<% provide(:title, 'Anti-Trust') %>
<% provide(:meta_description, 'Strategic Resource Group provides Food Retail anti-trust consulting  services to their clients on all food industry related matters.') %>
<% provide(:meta_keywords, 'Food Retail Anti-Trust') %>

<div class="detail-page">
	<div class="wrapper">
		<div class="main-content-container">
			<aside>
				<div class="side-nav-container">
					<ul class="side-nav">
						<li><a href="/litigation/dispute">Dispute Advisory</a></li>
						<li class="selected-side-nav"><a href="/litigation/antitrust">Anti-Trust</a></li>
						<li><a href="/litigation/expertwitness">Expert Witness</a></li>
					</ul>
				</div>
			</aside>
			<div class="detail-content pull-right">
				<div class="section-title left-align">
					<span>Anti-Trust</span>
				</div>
				<div class="section-detail-text">
					<p>SRG provides sophisticated strategic advice in connection with mergers and acquisitions, joint ventures and other strategic alliances to Federal and State agencies, as well as plaintiffs and defendants in anti-trust investigations and litigation. We provide valuable insight and clarity, helping our clients answer complex questions with regard to antitrust claims of monopolization, illegal boycotts, restraint of trade, improper acquisition, licensing and protection of intellectual property, tying and price fixing, among others.</p>

					<p>SRG professionals have extensive experience advising competition authorities such as the Federal Trade Commission (FTC) in anti-trust cases.</p>
				</div>
			</div>
		</div>
	</div>
</div>
