<% provide(:title, 'Retail Litigation') %>
<% provide(:meta_description, 'In matters of regional and national retail litigation, Strategic Resource Group specializes in providing their clients expert trial witness services.') %>
<% provide(:meta_keywords, 'Retail Litigation, Expert Trial Witness') %>

<div class="detail-page">
	<div class="section-title">
		<span>Litigation Expertise</span>
	</div>
	<div class="wrapper">

			<div class="areas-select-box">
				<a href="/litigation/dispute">
					<div class="areas-select-link-square dispute">
						<div class="detail-caption">
	                        <div class="detail-caption-title"><span>Dispute Advisory</span></div>
	                        <div class="detail-caption-description"><p>Learn how SRG can help transform your retail business through seasoned, diverse retail expertise.</p></div>
	                    </div>
					</div>
				</a>
				<a href="/litigation/antitrust">
					<div class="areas-select-link-square trust">
						<div class="detail-caption">
	                        <div class="detail-caption-title"><span>Anti-Trust</span></div>
	                    </div>
					</div>
				</a>
				<a href="/litigation/expertwitness">
					<div class="areas-select-link-square witness">
						<div class="detail-caption">
	                        <div class="detail-caption-title"><span>Expert Witness</span></div>
	                    </div>
					</div>
				</a>
				<a href="/litigation/takeoverdefense">
					<div class="areas-select-link-square defense">
						<div class="detail-caption">
	                        <div class="detail-caption-title large-title">
	                        	<span>Hostile Takover Defense</span>
	                        </div>
	                    </div>
					</div>
				</a>
			</div>

	</div>
	<div class="detail-text-container">
		<div class="detail-text">
				<p>With our trial consulting and presentation services, you will be armed with a strategic advantage in the courtroom.</p>

				<p>SRG is known for its high quality expertise in litigation consulting for many of the nation&rsquo;s top law firms and corporate legal departments. We offer placement of trial consultants experienced in providing comprehensive litigation support &ndash; from discovery to final resolution at trial.</p>
				<br />
				<span><strong>Our services include:</strong></span>
				<ul class="detail-ul">
					<li><span><strong>Pre-trial preparation:</strong> Our trial consultants work in conjunction with your trial team to assist in pre-trial preparation.</span>
					</li>
					<li><span><strong>Expert Depositions:</strong> Our expert deposition professionals are specialists and well respected leaders the industries we service.</span>
					</li>
					<li><span><strong>Expert Witness:</strong> Our expert witnesses or litigation consultants offer testimony, advice, litigation support, and other related expert witness services </span>
					</li>
					<li><span><strong>Expert Briefs and Reports:</strong> Our professionals create and deliver authoritative and compelling briefs, reports, and presentations to aide clients in the litigation process.</span>
					</li>
				</ul>
		</div>
	</div>
</div>
