<% provide(:title, 'Expert Witness Services') %>
<% provide(:meta_description, 'Strategic Resource Group provides Food Retail Expert witness services to their clients on all food industry related matters.') %>
<% provide(:meta_keywords, 'Food Retail Expert Witness Services') %>

<div class="detail-page">
	<div class="wrapper">
		<div class="main-content-container">
			<aside>
				<div class="side-nav-container">
					<ul class="side-nav">
						<li><a href="/litigation/dispute">Dispute Advisory</a></li>
						<li><a href="/litigation/antitrust">Anti-Trust</a></li>
						<li class="selected-side-nav"><a href="/litigation/expertwitness">Expert Witness</a></li>
					</ul>
				</div>
			</aside>
			<div class="detail-content pull-right">
				<div class="section-title left-align">
					<span>Expert Witness Services</span>
				</div>
				<div class="section-detail-text">
					<p>With our trial consulting and presentation services, you will be armed with a strategic advantage in the courtroom.</p>
					<p>Strategic Resource Group is known for its high quality expertise in litigation consulting for many of the nation&rsquo;s top law firms and corporate legal departments. We offer placement of trial consultants experienced in providing comprehensive litigation support &ndash; from discovery to final resolution at trial.</p>
					<p><strong>Our services include:</strong></p>
					<ul>
						<li><span><strong>Pre-trial preparation:</strong> Our trial consultants work in conjunction with your trial team to assist in pre-trial preparation.</span>
						</li>
						<li><span><strong>Expert Depositions:</strong> Our expert deposition professionals are specialists and well respected leaders the industries we service.</span>
						</li>
						<li><span><strong>Expert Witness:</strong> Our expert witnesses or litigation consultants offer testimony, advice, litigation support, and other related expert witness services </span>
						</li>
						<li><span><strong>Expert Briefs and Reports:</strong> Our professionals create and deliver authoritative and compelling briefs, reports, and presentations to aide clients in the litigation process.</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
