<% provide(:title, 'Dispute Advisory') %>
<% provide(:meta_description, 'Strategic Resource Group provides Food Retail dispute advisory consulting  services to their clients on all food industry related matters.') %>
<% provide(:meta_keywords, 'Retail Dispute Advisory') %>

<div class="detail-page">
	<div class="wrapper">
		<div class="main-content-container">
			<aside>
				<div class="side-nav-container">
					<ul class="side-nav">
						<li class="selected-side-nav"><a href="/litigation/dispute">Dispute Advisory</a></li>
						<li><a href="/litigation/antitrust">Anti-Trust</a></li>
						<li><a href="/litigation/expertwitness">Expert Witness</a></li>
					</ul>
				</div>
			</aside>
			<div class="detail-content pull-right">
				<div class="section-title left-align">
					<span>Dispute Advisory</span>
				</div>
				<div class="section-detail-text">
					<p>Strategic Resource Group&rsquo;s Dispute Advisory team can provide advice and expert witness evidence and analysis to assist in the resolution of disputes and in the processes of arbitration, litigation, mediation, contract issues and bankruptcy and insolvency claims.</p>
					<p>SRG has a track record of success in helping unravel challenging financial and economic issues in disputes. We provide valuable financial advisory services to banks, companies, creditors, equity holders, and the legal community for in and out-of court situations.</p>
					<p>SRG helps our clients during every stage of a contested matter, from early case assessment and discovery to case strategy, damages analysis and settlement services. Our experienced professionals provide assistance to companies in the form of:</p>
					<ul>
						<li><span>Early case assesment</span></li>
						<li><span>Discovery assistance </span></li>
						<li><span>Case strategy evaluation</span></li>
						<li><span>Damages analysis</span></li>
						<li><span>Settlement services </span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
