<% provide(:title, 'Advertising Servcies') %>
<% provide(:meta_description, 'SRG has worked with marketing and advertising firms, both large and small, to help understand new businesses or industries and succeeed at pitch time.') %>
<% provide(:meta_keywords, 'Advertising services, advertising firms, consulting') %>

<div class="detail-page">
	<div class="wrapper">
		<div class="main-content-container">
			<aside>
				<div class="side-nav-container">
					<ul class="side-nav">
						<li class="selected-side-nav"><a href="adservices">Advertising Services</a></li>
						<li><a href="digitalmarketing">Digital Marketing</a></li>
					</ul>
				</div>
			</aside>
			<div class="detail-content pull-right">
				<div class="section-title left-align">
					<span>Advertising Services</span>
				</div>
				<div class="section-detail-text">
					<p>Strategic Resource Group offers marketing and advertising services to help clients improve their brand identity and utilize new digital media channels to enhance traditional corporate communications and marketing.</p>
					<p>The areas we focus on are as follows:</p>
					<ul>
						<li><span>New brand creation</span></li>
						<li><span>Brand strategy</span></li>
						<li><span>Competitive opportunity analysis</span></li>
						<li><span>Consumer strategy</span></li>
						<li><span>Media buying</span></li>
						<li><span>Ad copy</span></li>
						<li><span>Broadcast media</span></li>
					</ul>
					<p>We also assist advertising firms at various stages, from research to pitch planning to consumer insights. SRG has used the vast industry knowledge of its professionals to help some of the largest national and international advertising firms to win and maintain clients, most of whom are Fortune 500 companies.</p>
				</div>
			</div>
		</div>
	</div>
</div>
