<% provide(:title, 'Marketing & Advertising') %>
<% provide(:meta_description, 'Strategic Resource Group provides consulting services in the marketing and advertising space to both advertising firms seeking industry- and company-specific intel, and retail comapanies looking to improve their position online.') %>
<% provide(:meta_keywords, 'Digital marketing, social media marketing, social media consulting') %>

<div class="detail-page">
	<div class="section-title">
		<span>Marketing &amp; Advertising Expertise</span>
	</div>
	<div class="wrapper">

			<div class="areas-select-box short-box">
				<a href="/marketingadvertising/adservices">
					<div class="areas-select-link adservices">
						<div class="detail-caption">
	                        <div class="detail-caption-title"><span>Advertising Services</span></div>
	                        <div class="detail-caption-description"><p>Learn how SRG can help transform your retail business through seasoned, diverse retail expertise.</p></div>
	                    </div>
					</div>
				</a>
				<a href="/marketingadvertising/digitalmarketing">
					<div class="areas-select-link digitalmarketing">
						<div class="detail-caption">
	                        <div class="detail-caption-title" style="font-size: 0.9em;"><span>Digital Marketing</span></div>
	                        <div class="detail-caption-description"><p>Learn how SRG can help transform your retail business through seasoned, diverse retail expertise.</p></div>
	                    </div>
					</div>
				</a>
			</div>

	</div>
	<div class="detail-text-container">
		<div class="detail-text">
			<p>Strategic Resource Group offers a wide range of advertising and marketing related consulting services to both retailers and advertising firms. SRG has previously worked with top advertising firms to help them gain an advantage during pitch season and win new clients.</p>
			<p>We also have dedicated professionals in digital marketing with a proven history of successful strategies in both social media and progressive web design.</p>
		</div>
	</div>
</div>
