<% provide(:title, 'Digital Marketing') %>
<% provide(:meta_description, 'Strategic Resource Group specializes in social media consulting and internet marketing strategies, as well as comprehensive website design.') %>
<% provide(:meta_keywords, 'Digital marketing, social media marketing, social media consulting') %>

<div class="detail-page">
	<div class="wrapper">
		<div class="main-content-container">
			<aside>
				<div class="side-nav-container">
					<ul class="side-nav">
						<li><a href="adservices">Advertising Services</a></li>
						<li class="selected-side-nav"><a href="digitalmarketing">Digital Marketing</a></li>
					</ul>
				</div>
			</aside>
			<div class="detail-content pull-right">
				<div class="section-title left-align">
					<span>Digital Marketing</span>
				</div>
				<div class="section-detail-text">
					<p>Strategic Resource Group has highly knowledgeable and effective digital marketing professionals that can transform your digital strategy to effectively reach more customers and increase traffic and sales. We use the latest in web and social marketing to improve your company's visibility and consumer awareness. Additionally we provide consulting and development for your website to further drive traffic.</p>
					<p>SRG can assist in the following areas:</p>
					<ul>
						<li><span>Social advertising and marketing</span></li>
						<li><span>Social brand strategy</span></li>
						<li><span>Current strategy analysis</span></li>
						<li><span>Search Enginve Optimization</span></li>
						<li><span>Digital presence analysis</span></li>
						<li><span>Web development and implementation</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
