<% provide(:title, 'Press') %>

<div class="detail-page">
	<div class="section-title">
		<span>Press</span>
	</div>
	<div class="wrapper">

			<div class="areas-select-box">
				<a href="/litigation/dispute">
					<div class="areas-select-link video-news-box">
						<div class="detail-caption">
	                        <div class="detail-caption-title"><span>Video News</span></div>
	                        <div class="detail-caption-description"><p>Learn how SRG can help transform your retail business through seasoned, diverse retail expertise.</p></div>
	                    </div>
					</div>
				</a>
				<a href="/litigation/antitrust">
					<div class="areas-select-link industry">
						<div class="detail-caption">
	                        <div class="detail-caption-title"><span>Industry News</span></div>
	                        <div class="detail-caption-description"><p>Learn how SRG can help transform your retail business through seasoned, diverse retail expertise.</p></div>
	                    </div>
					</div>
				</a>
				<a href="/litigation/expertwitness">
					<div class="areas-select-link srg-news">
						<div class="detail-caption">
	                        <div class="detail-caption-title"><span>SRG News</span></div>
	                        <div class="detail-caption-description"><p>Learn how SRG can help transform your retail business through seasoned, diverse retail expertise.</p></div>
	                    </div>
					</div>
				</a>
			</div>

	</div>
	<div class="detail-text-container">
		<div class="detail-text">
				<p>Managing Director Burt Flickinger and SRG are frequently found in major publications around the world. In the above links, you will find articles and videos where Burt and SRG have provided insights into the retail insdustry and beyond.</p>
		</div>
	</div>
</div>
