<ul class="users">
	<% @users.each do |user| %>
		<li>
			<%= link_to user.name, user %>
			<%= link_to "Delete", user, class: "admin-edit", method: :delete,
									  data: { confirm: "You sure?" } %>
		</li>
	<% end %>
</ul>