<div id="admin_header">
	<div class="wrapper">
		<div class="pull-left">
			<h1>SRG Admin</h1>
		</div>
		<div class="pull-right">
			<% if signed_in? %>
				<ul class="admin-signout">
					<li><%= link_to "New Article", "#", class: "admin-new-article" %></li>
					<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
				</ul>
			<% end %>
		</div>
	</div>
</div>