<div id="footer-container">
    <div id="footer">
        <div id="logo-box">
            <div id="tagline">
                <span>Industry Insight, Trusted Expertise</span>
            </div>
            <div id="footer-logo"></div>
        </div>
        
        <div id="footer-right">
            <div id="contact-info">
                <div class="contact">
                    <span>Email</span> <br />
                    <a href="mailto:burt@srginsight.com"><span>burt@srginsight.com</span></a>
                </div>
                <div class="contact">
                    <span>Phone</span> <br />
                    <span>212-496-5100</span>
                </div>
            </div>
            <div id="footer-links" class="pull-right">
                <div class="footer-link">
                    <a href='/consulting'><span>Retail Consulting</span></a>
                </div>
                <div class="footer-link right">
                    <a href='/litigation'><span>Retail Litigation</span></a>
                </div>
                <div class="footer-link">
                    <a href='/acquisitions-ftc'><span>Acquisitions &amp; FTC Expertise</span></a>
                </div>
                <div class="footer-link right">
                    <a href='/marketing'><span>Marketing</span></a>
                </div>
            </div>
        </div>
        <div id="copyright">
            <span>© 2013 Strategic Resource Group</span>
        </div>
    </div>
</div>