<div id="header">
        <div id="logo">
            <div class="container">
                <div class="logo-text">
                    <a href="/"><span>Strategic Resource Group</span></a>
                </div>
                <div class="mobile-button" id="menu"></div>
                <div class="mobile-button" id="mobile-search-button"></div>
                <div id="desktop-search">
                    <%= form_tag search_path(:search), :method => :get do %>
                        <%= text_field_tag :search, params[:search], class: "big-search", placeholder: "Search SRG" %>
                    <% end %>
                </div>
            </div>
        </div>
        <div id="mobile-search">
                <%= form_tag search_path(:search), :method => :get do %>
                    <%= text_field_tag :search, params[:search], class: "big-search", placeholder: "Search SRG" %>
                <% end %>
        </div>
        <div id="mobile-dropdown">
            <ul id="mobile-buttons">
                <a href="/consulting"><li>Retail Consulting</li></a>
                <a href="/litigation"><li>Retail Litigation</li></a>
                <a href="/financialservices"><li>Financial Services</li></a>
                <a href="/marketingadvertising"><li>Marketing &amp; Advertising</li></a>
                <a href="/bios"><li>Bios</li></a>
                <a href="/press"><li>Press Room</a></li>
            </ul>
        </div>
        <div id="buttons-container">
            <ul class="mainnav">
                <li>
                    <a href="/"><span>Home</span><a>
                </li>
                <li class="retail-consulting">
                    <a href="/consulting"><span class="nav-span-title">Retail Consulting</span></a>
                    <div class="subnav-div">
                        <div class="subnav-container">
                            <a href="/consulting/retailers">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Retailers</span>
                                    </div>
                                    <!-- <div class="nav-description">
                                        <span>Custom strategic planning on all aspects of the business with guidance from former top exeuctives</span>
                                    </div> -->
                                </div>
                            </a>
                            <a href="/consulting/wholesalers">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Wholesalers</span>
                                    </div>
                                    <!-- <div class="nav-description">
                                        <span>Stategy planning based around our intense understanding of the wholesaler and retail landscape</span>
                                    </div> -->
                                </div>
                            </a>
                            <a href="/consulting/brands">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Consumer Brands</span>
                                    </div>
                                    <!-- <div class="nav-description">
                                        <span>Solutions for large scale and private brand manufacturers with an emphasis on consumer tastes</span>
                                    </div> -->
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="retail-litigation">
                    <a href="/litigation"><span class="nav-span-title">Retail Litigation</span></a>
                    <div class="subnav-div">
                        <div class="subnav-container">
                            <a href="/litigation/dispute">
                               <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Dispute Advisory</span>
                                    </div>
                                </div>
                            </a>
                            <a href="/litigation/antitrust">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Anti-Trust</span>
                                    </div>
                                </div>
                            </a>
                            <a href="/litigation/expertwitness">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Expert Witness</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="MA">
                    <a href="/financialservices"><span>Financial Services</span></a>
                    <div class="subnav-div">
                        <div class="subnav-container">
                            <a href="/financialservices/ma">
                               <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>M &amp; A</span>
                                    </div>
                                </div>
                            </a>
                            <a href="/financialservices/duedilligence">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Due Dilligence</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="digital-marketing">
                    <a href="marketingadvertising"><span>Marketing &amp; Advertising</span></a>
                    <div class="subnav-div">
                        <div class="subnav-container">
                            <a href="/marketingadvertising/adservices">
                               <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Advertising</span>
                                    </div>
                                </div>
                            </a>
                            <a href="/marketingadvertising/digitalmarketing">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Digital Marketing</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="bios">
                    <a href="/bios"><span>Bios</span></a>
                </li>
                <li class="press">
                    <a href="/press"><span>Press Room</span></a>
                    <div class="subnav-div">
                        <div class="subnav-container">
                            <a href="/articles">
                               <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Articles</span>
                                    </div>
                                </div>
                            </a>
                            <a href="/videos">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Videos</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
