<div id="header">
        <div id="logo">
            <div class="container">
                <div class="logo-text">
                    <span>Strategic Resource Group</span>
                </div>
                <div class="mobile-button" id="menu"></div>
                <div class="mobile-button" id="search"></div>
                <div id="desktop-search">
                    <form>
                        <!--<div id="desktop-search-icon"></div>-->
                        <input type="text" class="big-search" placeholder="Search SRG">

                    </form>
                </div>

            </div>
        </div>
        <div id="mobile-search">
            <form>
                <input type="text" class="big-search mobile" placeholder="Search SRG">
            </form>
        </div>
        <div id="mobile-dropdown">
            <ul id="mobile-buttons">
                <a href="/consulting"><li>Retail Consulting</li></a>
                <a href="/litigation"><li>Retail Litigation</li></a>
                <a href="/financialservices"><li>Mergers &amp; Acquisitions</li></a>
                <a href="/digitalmarketing"><li>Digital Marketing</li></a>
                <a href="/bios"><li>Bios</li></a>
                <a href="/pressroom"><li>Press Room<</li>/a>
                <a href="/contact"><li>Contact</li></a>
            </ul>
        </div>
        <div id="buttons-container">
            <ul class="mainnav">
                <li>
                    <a href="/"><span>Home</span><a>
                </li>
                <li class="retail-consulting">
                    <a href="/consulting"><span class="nav-span-title">Retail Consulting</span></a>
                    <div class="subnav-div">
                        <div class="subnav-container">
                            <a href="/consulting/supermarkets">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Supermarkets</span>
                                    </div>
                                    <div class="nav-description">
                                        <span>Custom strategic planning on all aspects of the business with guidance from former top exeuctives</span>
                                    </div>
                                </div>
                            </a>
                            <a href="/consulting/wholesalers">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Wholesalers</span>
                                    </div>
                                    <div class="nav-description">
                                        <span>Stategy planning based around our intense understanding of the wholesaler and retail landscape</span>
                                    </div>
                                </div>
                            </a>
                            <a href="/consulting/manufacturers">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Manufacturers</span>
                                    </div>
                                    <div class="nav-description">
                                        <span>Solutions for large scale and private brand manufacturers with an emphasis on consumer tastes</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="retail-litigation">
                    <a href="/litigation"><span class="nav-span-title">Retail Litigation</span></a>
                    <div class="subnav-div">
                        <div class="subnav-container">
                            <a href="/litigation/dispute">
                               <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Dispute Advisory</span>
                                    </div>
                                    <div class="nav-description">
                                        <span>Advice and expert witness analysis  in the resolution of disputes and in the processes of arbitration</span>
                                    </div>
                                </div>
                            </a>
                            <a href="/litigation/antitrust">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Anti-Trust</span>
                                    </div>
                                    <div class="nav-description">
                                        <span>Sophisticated strategic advice in anti-trust investigations and litigation</span>
                                    </div>
                                </div>
                            </a>
                            <a href="/litigation/expertwitness">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Expert Witness</span>
                                    </div>
                                    <div class="nav-description">
                                        <span>Due Dilligence Assistance, specializing in retail industry transactions</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="MA">
                    <a href="/financialservices"><span>Financial Services</span></a>
                    <div class="subnav-div">
                        <div class="subnav-container">
                            <a href="/financialservices/ma">
                               <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>M &amp; A</span>
                                    </div>
                                    <div class="nav-description">
                                        <span>Detailed assistance and crucial industry insight for M &amp; A transactions on either side</span>
                                    </div>
                                </div>
                            </a>
                            <a href="/financialservices/duedilligence">
                                <div class="info-buttons">
                                    <div class="nav-title">
                                        <span>Due Dilligence</span>
                                    </div>
                                    <div class="nav-description">
                                        <span>Due Dilligence Assistance, specializing in retail industry transactions</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="digital-marketing">
                    <span>Digital Marketing</span>
                    <div class="subnav-div">
                        <div class="subnav-container">
                           <div class="info-buttons">
                                <div class="nav-title">
                                    <span>Web Design</span>
                                </div>
                                <div class="nav-description">
                                    <span>Search engine optimized, visually appealing websites to drive customer traffic</span>
                                </div>
                            </div>
                            <div class="info-buttons">
                                <div class="nav-title">
                                    <span>Social Media</span>
                                </div>
                                <div class="nav-description">
                                    <span>Customized strategic plans for leveraging social media platforms to engage with and attract customers</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="bios">
                    <span>Bios</span>
                </li>
                <li class="press">
                    <span>Press Room</span>
                </li>
                <li>
                    <span>Contact</span>
                </li>
            </ul>
        </div>
    </div>